<header>
    <nav class="nav-extended">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo left">
                <img src="assets/img/Logo.png" alt="Logo" class="nav-logo" style="width: 150px; height: auto;">
            </a>      
            <ul class="right hide-on-med-and-down">
                <li><div class="input-field">
                    <input id="search" type="text" placeholder="Buscar">
                    <label for="search"></label>                        
                </div> </li>
                <li><a routerLink="/admin/category">Categorias</a></li>
                <li><a href="aboutUs.html">Productos</a></li>
                <li><a href="contact.html">Contacto</a></li>
                <li><a href="#">Registrarse</a></li>                    
                <li><a href="#"><i class="material-icons">shopping_cart_checkout</i></a></li>
                <li><a class="btn-flat" href="#">Login</a></li>                               
            </ul>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="aboutUs.html">Categorias</a></li>
            <li><a href="aboutUs.html">Productos</a></li>
            <li><a href="contact.html">Contacto</a></li>
            <li><a href="#">Registrarse</a></li>                    
            <li><a href="#">Carrito</a></li>
            <li><a class="btn-flat" href="#">Login</a></li>
        </ul>
        <div class="header-main-pic z-depth-4"></div>


    </nav>

    <section class="header-main-pic z-depth-4"></section>
</header>

