<!-- Header User-->
<app-header-user></app-header-user>

<!-- Page Content -->
<div class="container">

  <!-- Breadcrumb -->
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a [routerLink]="['/']" class="breadcrumb">Home</a>
        <span class="breadcrumb">Orden</span>
      </div>
    </div>
  </nav>

  <!-- Blog Post -->
  <div class="card">
    <div class="card-content">
      <div class="row">
        <div class="col s12 m9">
          <h5 class="card-title">DATOS ORDEN</h5>
          <p><strong>Nombre:</strong></p>
          <p><strong>Correo:</strong></p>
          <p><strong>Dirección:</strong></p>

          <h5 class="card-title">PRODUCTOS</h5>
          <table class="striped">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of items">
                <td>{{i.productName}}</td>
                <td>{{i.price}}</td>
                <td>{{i.quantity}}</td>
                <td>{{i.getTotalPriceItem()}}</td>
                <td><button class="btn red">Quitar</button></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col s12 m3">
          <h5 class="card-title">Resumen Orden</h5>
          <ul class="collection">
            <li class="collection-item">
              <h6>Total:</h6>
            </li>
          </ul>
          <a class="waves-effect waves-light btn">Pagar con Paypal</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->
